img {
  width: 100%;
  vertical-align: middle;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
em {
  font-style: normal;
}
.mui-content {
  background-color: #fff;
}
/* 顶部导航栏开始 */
header.mui-bar.mui-bar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(243, 125, 15, 0);
  box-shadow: none;
}
header.mui-bar.mui-bar-nav form.mui-icon {
  position: relative;
  flex: auto;
  margin: 0 15px;
}
header.mui-bar.mui-bar-nav form.mui-icon:before {
  position: absolute;
  top: 12px;
}
header.mui-bar.mui-bar-nav form.mui-icon input {
  width: 100%;
  padding-left: 20px;
}
/* 顶部导航栏结束 */
/* 底部导航栏被选中状态开始 */
.mui-bar-tab .mui-tab-item.mui-active {
  color: #f76f04;
}
/* 底部导航栏被选中状态结束 */
